In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe.

In [4]:
df['duration']

0    2
1    3
2    6
3    4
Name: duration, dtype: int64

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?


In pandas, loc and iloc are both used for indexing and selecting data from a DataFrame, but they differ in the way they specify and interpret the indices.

loc (label-based indexing):

It is primarily used for selection by label (row index and column names).
You specify the row labels and column names to retrieve data.
The syntax is df.loc[row_label, column_label].
It includes the end index in the selection.

In [7]:
df.loc[0:2,['course_name']]

        course_name
0      Data Science
1  Machine Learning
2          Big Data

In [11]:
df.iloc[0:2,[0]]   #.iloc requires numeric indexers

        course_name
0      Data Science
1  Machine Learning

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].ices)

the difference lies in whether you're using labels or integer positions to specify the rows and columns. If the DataFrame has integer index labels, using .loc and .iloc may produce the same output, but with non-integer index labels, they can lead to different results.

In [35]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

reindex = [3,0,1,2]
df1=df1.reindex(index=reindex)

In [30]:
df1.loc[2,['column_2','column_3']]

column_2    0.886027
column_3    0.816301
Name: 2, dtype: float64

In [31]:
df1.iloc[2,[1,2]]

column_2    0.554025
column_3    0.079826
Name: 1, dtype: float64

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [32]:
df1.mean()

column_1    0.661016
column_2    0.650802
column_3    0.609170
column_4    0.521795
column_5    0.523019
column_6    0.386736
dtype: float64

In [43]:
df1['column_2'].std()

0.2005408655107146

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [48]:
df1.loc[2,['column_2']]='String'

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9696\3861536269.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'String' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2,['column_2']]='String'

In [52]:
try :
    df1.mean()
except Exception as e:
    print(e)

unsupported operand type(s) for +: 'float' and 'str'

In this example, the data in the second row of 'column_2' is replaced with the string 'Hello'. However, when you attempt to calculate the mean of 'column_2', it will result in an error because you cannot calculate the mean of a column containing string values.
If you want to replace the data with a string and still calculate the mean, you need to convert the column to a numeric type after replacing the string. For instance, you could use pd.to_numeric

In [53]:
df1['column_2'] = pd.to_numeric(df1['column_2'], errors='coerce')
#In this case, errors='coerce' will replace non-numeric values with NaN, and then you can calculate the mean without errors.

In [55]:
df1.mean()

column_1    0.658134
column_2    0.690548
column_3    0.585424
column_4    0.694397
column_5    0.426887
column_6    0.644720
dtype: float64

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?